<a href="https://colab.research.google.com/github/onni-Q/workshop_notebooks/blob/main/Week2_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis with Pandas

This workshop notebook consist of data operations using a CSV (comma-separated values) file and the Pandas library. It is very similar to the lecture notebook, but we are using data from X/Twitter (tweets containing the words 'louvre heist').

This data was collected with the [Zeeschuimer](https://github.com/digitalmethodsinitiative/zeeschuimer) browser extension and converted to CSV with [Zeehaven](https://publicdatalab.github.io/zeehaven/). If you want to, you can also use your own data for this exercise!

Since the dataset is similar to the TikTok data, we can do very similar things with it, but there are some important differences (e.g., column names) that we will have to deal with.

To begin, we load Pandas, and set copy_on_write to `True` (can you learn from [the Pandas documentation](https://pandas.pydata.org/pandas-docs/version/2.0/user_guide/copy_on_write.html) what this means?).

Mount the Google Drive.

Get the path to 'twitter_louvre_heist.csv'.

Read the CSV file into a DataFrame.

Print the last three lines of the DataFrame.

Check the column names and types with `.info()`.

Sort the DataFrame by `like_count` and show the top three tweets.

Create a sorted list of columns and how many values they are missing.

Drop the columns that have *all* values missing.

Convert the `timestamp` column to DateTime. But be aware! Pandas will not be able to recognize the data format that this column currently holds. Is there another column that you can use to easily convert to DateTime? Use this alternative to overwrite the `timestamp` column.

Verify that the fresh `timestamp` column has values of type `datetime64[ns]`.

Print out the dataframe with only the columns `author`, `body`, and `like_count`.

Let's create a new DataFrame called `df_selection` that contains only relevant columns. Depending on the actual analysis we are doing, we would select different columns. For today, let's do these: `id`, `timestamp`, `link`, `body`, `author`, `author_fullname`, `language_guess`, `retweet_count`, `reply_count`, `like_count`, `quote_count`, `impression_count`, `hashtags`, and `verified`.

After you've created your new dataframe, print out the first three rows.

Let's again calculate an engagement ratio. We can use `retweet_count`, `reply_count`, `like_count`, and `quote_count` as the 'active' components and `impression_count` as the 'passive' one (i.e., divide the sum of the first with the second).

Print out the five tweets with the highest engagement ratio.

Based on the column `lanuage_guess`, create a new colum `language_en` that contains 'en' if `language_guess` is 'en' and 'other' for all other values.

Show the tweets that have `language_en` as 'other'.

Show all tweets with a `like_count` higher than 10000.

How many tweets mention that the Louvre thieves have been 'arrested'? (Bonus: try to find out how you can make this case-insensitive.)

Use `.describe()` to get a statistical summary of our DataFrame.

Print out the mean for all columns ending with `_count`.

Create a correlation matrix for all columns that contain numbers.

The two columns `like_count` and `reply_count` have relatively low correlation. Let's show them on a scatterplot to investigate.

How many tweets come from verified authors?

Show the number of verified vs. non-verified users as a bar graph. The bars should be next to each other.

What is the average `like_count` for verified and non-verified users? Hint: use `.groupby()`.

List the most active authors using `.groupby()`.

How many authors have at least five tweets in our dataset?

Create a Series that contains individual hashtags, using `.split()` and `.explode()`.

And now create a bar chart that shows the top 10 most common hashtags.

Plot the tweets over time, but not per week like in the lecture notebook, but per day! Hint: you only have to change one character in two locations to adapt the example from the lecture.

That's it! Pandas can get complicated, but it is crucial to know for almost all data analysis tasks with Python. Now, nothing is holding you back from joining the [pandas community](https://pandas.pydata.org/community/blog/).